
<div class="headline headline-about">
    <div class="headline-title">
        <h3>About Us</h3>
    </div>
</div>
<div class="content">
    <p>
        Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.
    </p>
    <div class="content__element">
        <img src="../assets/images/content.jpg" alt="">
        <div class="content__element-box">
            <div class="title">
                Aliquam erat volutpat
            </div>
            <div class="paragraph">
                Phasellus ultrices nulla quis nibh. Quisque a lectus. Donec consectetuer ligula vulputate sem tristique cursus. Nam nulla quam, gravida non, commodo a, sodales sit amet, nisi.
                Phasellus ultrices nulla quis nibh. Quisque a lectus. Donec consectetuer ligula vulputate sem tristique cursus. Nam nulla quam, gravida non, commodo a, sodales sit amet, nisi.
            </div>
        </div>
    </div>
</div>

<div class="content">
    <p>
        Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.
    </p>
</div>

<div class="content">
    <div class="video">
        <div class="play" id="play">
            <svg width="96" height="96" viewBox="0 0 157 157" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M146.469 39.2575C124.796 1.71818 76.7923 -11.1445 39.256 10.5328C1.7166 32.2031 -11.1466 80.2047 10.5307 117.743C32.201 155.282 80.2031 168.147 117.74 146.471C155.28 124.794 168.149 76.7944 146.469 39.2575ZM109.893 132.873C79.8662 150.215 41.461 139.924 24.1237 109.891C6.7825 79.8643 17.0768 41.4596 47.1048 24.1258C77.1338 6.78458 115.537 17.0744 132.875 47.1063C150.214 77.1378 139.923 115.535 109.893 132.873ZM106.754 75.3107L65.6563 51.3414C61.9111 49.1549 58.8902 50.903 58.9112 55.2351L59.1217 102.812C59.1407 107.143 62.1985 108.906 65.9547 106.736L106.738 83.19C110.491 81.0245 110.499 77.4973 106.754 75.3107Z" fill="#E5E5E5"/>
            </svg>
        </div>
        <div class="pause" id="pause">
            <img src="../assets/images/pause-button-outline.svg" height="96" width="96" alt="">
        </div>
        <video src="../assets/images/video.mp4" id="video">
            <source src="../assets/images/video.mp4" type="video/mp4">
        </video>
    </div>
</div>

<div class="content">
    <p>
        Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries.
    </p>
</div>

<div class="content">
    <div class="content__element content__element-reverse">
        <img src="../assets/images/content.jpg" alt="">
        <div class="content__element-box">
            <div class="title">
                Aliquam erat volutpat
            </div>
            <div class="paragraph">
                Phasellus ultrices nulla quis nibh. Quisque a lectus. Donec consectetuer ligula vulputate sem tristique cursus. Nam nulla quam, gravida non, commodo a, sodales sit amet, nisi.
                Phasellus ultrices nulla quis nibh. Quisque a lectus. Donec consectetuer ligula vulputate sem tristique cursus. Nam nulla quam, gravida non, commodo a, sodales sit amet, nisi.
                Phasellus ultrices nulla quis nibh. Quisque a lectus.
            </div>
        </div>
    </div>
</div>

<section class="getapp">
    <div class="getapp-container">
        <div class="left">
            <h2>Get our application</h2>
            <p class="description">
                It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout.
            </p>
            <div class="buttons">
                <a href="">
                    <img src="../assets/images/googlestore.svg" alt="">
                </a>
                <a href="">
                    <img src="../assets/images/appstore.svg" alt="">
                </a>
            </div>
        </div>
        <div class="right">
            <div class="img">
                <img src="../assets/images/getapp.png" alt="get our applicaton ">
            </div>
        </div>
    </div>
</section>

<div class="getintouch">
    <div class="getintouch__title">
        Get in Touch Now
    </div>
    <form action="" class="getintouch__form">
        <label for="">
            <span>Name</span>
            <input type="text" required>
        </label>
        <label for="">
            <span>Username or e-mail</span>
            <input type="email" required>
        </label>
        <label for="">
            <span>Telephone</span>
            <input type="number" required>
        </label>
        <label for="">
            <span>Nature of qnquiry</span>
            <input type="text">
        </label>
        <label for="">
            <span>Message</span>
            <textarea type="text" class="message" required></textarea>
        </label>
        <input type="submit" class="send" value="send">
    </form>
</div>
