<app-loading *ngIf="!loaded"></app-loading>
<ng-container *ngIf="loaded">
  <ng-container *ngIf="subscriber.length > 0; else empty">
    <div class="sub-title">Clients of Launderwise <span class="labl"> {{subscriber.length}}</span></div>
    <div *ngFor="let sub of subscriber">
      <p class="sub-item">
        <span class="name">{{sub.firstName}} {{sub.lastName}}</span> <br>
        <span class="sub-info">{{sub.email}}</span>
        <span class="label">{{sub.data | date: 'dd.MM.yyyy'}}</span>
      </p>
    </div>
  </ng-container>
</ng-container>

<ng-template #empty>
  <p>Now site don't have subscribers</p>
</ng-template>