.sub-info {
  margin-left: 7px;
}
.label {
  margin-left: auto;
  display: inline-block;
  color: #c1c1c1;
  font-size: 12px;
}
.sub-item .name{
  display: block;
  font-size: 13px;
  font-weight: bold;
}
.sub-item {
  display: flex;
  box-shadow: 0px 1px 0px rgba(51, 51, 51, 0.1);
}
.sub-title{
  font-size: 18px;
  color: #bdbdbd;
}
.labl{
  background: #45a8e1;
  color: #fff;
  border-radius: 15px;
  min-width: 20px;
  display: inline-flex;
  justify-content: center;
  font-size: 12px;
  height: 20px;
  align-items: center;
  position: relative;
  top: -8px;
}