<header>
  <div class="navigation">
    <div class="navigation__logo">
      <img [routerLink]="'/'" src="../assets/images/logo.svg" alt="logo">
    </div>
    <div class="navigation__buttons">
      <nav class="account-nav">
        <a routerLinkActive="active" [routerLink]="'/about-us'"  class="nav-item">About Us</a>
        <a routerLinkActive="active" [routerLink]="'/how-it-works'" class="nav-item">How it Works</a>
        <a routerLinkActive="active" [routerLink]="'/blogs'" class="nav-item">Blog</a>
        <a routerLinkActive="active" [routerLink]="'/faq'" class="nav-item">FAQ</a>
        <a routerLinkActive="active" [routerLink]="'/cleaners'" class="nav-item">Cleaners</a>
        <a routerLinkActive="active" [routerLink]="'/contacts'" class="nav-item">Contacts</a>
      </nav>
      <a [routerLink]="'/orders'" class="color nav-btn">Make order</a>
      <a *ngIf="!islogin" (click)="openLoginDialog()" class="nav-btn">Log in</a>
      <a *ngIf="islogin && me" class="nav-btn" [matMenuTriggerFor]="menu">
        {{name}}
      </a>
      <mat-menu class="dropmenu" #menu="matMenu" xPosition="before">
        <button mat-menu-item [routerLink]="'/profile'">Profile</button>
        <button mat-menu-item (click)="logout($event)">Log out</button>
      </mat-menu>
    </div>
    <div class="navigation__burger" id="navigation__burger">
    </div>
  </div>
</header>
