First name:<input [(ngModel)]="userForRegister.firstName" type="text"><br>
Last name:<input [(ngModel)]="userForRegister.lastName" type="text"><br>
Address1:<input [(ngModel)]="userForRegister.adress1" type="text"><br>
Address2:<input  [(ngModel)]="userForRegister.adress2" type="text"><br>
City:<input [(ngModel)]="userForRegister.city" type="text"><br>
County:<input [(ngModel)]="userForRegister.country" type="text"><br>
Email:<input [(ngModel)]="userForRegister.email" type="text"><br>
Phone:<input [(ngModel)]="userForRegister.phone" type="text"><br>
Pass:<input [(ngModel)]="userForRegister.password" type="text"><br>



Email: <input [(ngModel)]="userForLogin.email" type="text"><br>
Password: <input [(ngModel)]="userForLogin.password" type="text"><br>
<button  (click)="signIn(userForLogin)"> login</button><br>
<button  (click)="signUp(userForRegister)">register</button><br>
