<header>
    <div class="navigation">
        <div class="navigation__logo">
            <img [routerLink]="['/']"  src="assets/static/images/logo.svg" alt="logo">
        </div>
        <div class="navigation__buttons">
            <nav>
                <a [routerLink]="['/about-us']" href="" class="nav-item">About Us</a>
                <a [routerLink]="['/how-it-works']" href="" class="nav-item">How it Works</a>
                <a [routerLink]="['/blogs']" href="" class="nav-item">Blog</a>
                <a [routerLink]="['/faq']" href="" class="nav-item">FAQ</a>
                <a [routerLink]="['/contacts']" href="" class="nav-item">Contacts</a>
            </nav>
            <a href="#" (click)="openDialog()" class="nav-btn">Log in</a>
            <a href="#" class="color nav-btn">Book Now</a>
        </div>
        <div class="navigation__burger">
        </div>
    </div>
    <div *ngIf="router.url === '/'" class="headerbox">
        <div class="headerbox-container">
            <h1>Make your life easier with us</h1>
            <div class="description">
                Lorem Ipsum is simply dummy text of the printing and typesetting industry.
            </div>
            <a href="#" class="header-sign">
                Sing up free
            </a>
        </div>
    </div>
</header>
