<app-header></app-header>

<div class="headline headline-about">
    <div class="headline-title">
        <h3>Article title</h3>
    </div>
</div>
<div class="content">
    <p>
        Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's
        standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make
        a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting,
        remaining essentially unchanged. Lorem Ipsum is simply dummy text of the printing and typesetting industry.
        Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a
        galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also
        the leap into electronic typesetting, remaining essentially unchanged.
    </p>
    <div class="content__element">
        <img src="assets/static/images/content.jpg" alt="">
        <div class="content__element-box">
            <div class="title">
                Aliquam erat volutpat
            </div>
            <div class="paragraph">
                Phasellus ultrices nulla quis nibh. Quisque a lectus. Donec consectetuer ligula vulputate sem tristique
                cursus. Nam nulla quam, gravida non, commodo a, sodales sit amet, nisi.
                Phasellus ultrices nulla quis nibh. Quisque a lectus. Donec consectetuer ligula vulputate sem tristique
                cursus. Nam nulla quam, gravida non, commodo a, sodales sit amet, nisi.
            </div>
        </div>
    </div>
</div>

<div class="content">
    <p>
        Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's
        standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make
        a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting,
        remaining essentially unchanged. Lorem Ipsum is simply dummy text of the printing and typesetting industry.
        Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a
        galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also
        the leap into electronic typesetting, remaining essentially unchanged.
    </p>
</div>

<div class="content">
    <p>
        Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's
        standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make
        a type specimen book. It has survived not only five centuries.
    </p>
</div>

<div class="content">
    <div class="content__element content__element-reverse">
        <img src="assets/static/images/content.jpg" alt="">
        <div class="content__element-box">
            <div class="title">
                Aliquam erat volutpat
            </div>
            <div class="paragraph">
                Phasellus ultrices nulla quis nibh. Quisque a lectus. Donec consectetuer ligula vulputate sem tristique
                cursus. Nam nulla quam, gravida non, commodo a, sodales sit amet, nisi.
                Phasellus ultrices nulla quis nibh. Quisque a lectus. Donec consectetuer ligula vulputate sem tristique
                cursus. Nam nulla quam, gravida non, commodo a, sodales sit amet, nisi.
                Phasellus ultrices nulla quis nibh. Quisque a lectus.
            </div>
        </div>
    </div>
</div>

<section class="blog" id="blog">
    <h2>More interesting news</h2>
    <div class="blog__container">
        <a href="" class="blog__container-item">
            <div class="img">
                <img src="assets/static/images/blog.jpeg" alt="">
            </div>
            <div class="title">Something</div>
            <div class="date">01/05/19</div>
            <div class="description">
                It is a long established fact that a reader will be distracted by the readable content of a page when
                looking at its layout.
            </div>
        </a>
        <a href="" class="blog__container-item">
            <div class="img">
                <img src="assets/static/images/blog.jpeg" alt="">
            </div>
            <div class="title">Something</div>
            <div class="date">01/05/19</div>
            <div class="description">
                It is a long established fact that a reader will be distracted by the readable content of a page when
                looking at its layout.
            </div>
        </a>
        <a href="" class="blog__container-item">
            <div class="img">
                <img src="assets/static/images/blog.jpeg" alt="">
            </div>
            <div class="title">Something</div>
            <div class="date">01/05/19</div>
            <div class="description">
                It is a long established fact that a reader will be distracted by the readable content of a page when
                looking at its layout.
            </div>
        </a>
    </div>
</section>

<section class="getapp">
    <div class="getapp-container">
        <div class="left">
            <h2>Get our application</h2>
            <p class="description">
                It is a long established fact that a reader will be distracted by the readable content of a page when
                looking at its layout.
            </p>
            <div class="buttons">
                <a href="">
                    <img src="assets/static/images/googlestore.svg" alt="">
                </a>
                <a href="">
                    <img src="assets/static/images/appstore.svg" alt="">
                </a>
            </div>
        </div>
        <div class="right">
            <div class="img">
                <img src="assets/static/images/getapp.png" alt="get our applicaton ">
            </div>
        </div>
    </div>
</section>
<app-footer></app-footer>
