<app-loading *ngIf="!loading"></app-loading>

<ng-container *ngIf="loading">
  <div class="dashboard" *ngIf="array && array.length > 0">
    
    <ng-container *ngFor="let item of array">
      <h3>{{item.name}}</h3>
      <ng-container *ngIf="item.all === 0">
        Now company don't have statistic
      </ng-container>
      <ng-container *ngIf="item.all > 0">
        <canvas baseChart
                [data]="item.result"
                [labels]="pieChartLabels"
                [chartType]="pieChartType"
                id="canvas"
        ></canvas>
      </ng-container>
    </ng-container>
  </div>
</ng-container>
