@media (min-width: 360px) {
  #canvas{
    width: 100%;
    min-width: 360px;
  }
}

@media (min-width: 568px) {
  #canvas{
    width: 100%;
    min-width: 560px;
  }
}

@media (min-width: 768px) {
  #canvas{
    width: 100%;
    min-width: 630px;
    max-width: 630px;
  }
}
