<div class="post-header">
    <div class="title">
        Add Post
    </div>
</div>
<form (submit)="addPost()" class="cleaner-form">
    <label>
        <span>title</span>
        <input type="text" [(ngModel)]="post.title" name="title">
    </label>
    <label>
        <span>text</span>
        <textarea name="text" cols="30" rows="10" [(ngModel)]="post.text"></textarea>
    </label>
    <app-upload (onFs)="fsData($event)" [multiple]="true"></app-upload>
    <br>

    <button type="submit" class="send">ok</button>
</form>
