<div class="post-header">
  <div class="title">
    Add Delivery
  </div>
</div>
<form (submit)="addPost()" class="cleaner-form">
  <label>
    <span>Name</span>
    <input type="text" placeholder="Name" [(ngModel)]="delivery.name" name="title">
  </label>
  <app-select-location (data)="countryChange($event)"></app-select-location>
  <label>
    <span>Address</span>
    <input type="text" placeholder="Address" [(ngModel)]="delivery.address" name="title">
  </label>
  <button class="send" type="submit">Add Cleaners</button>
</form>

<!--<app-category-list [iframe]="true" (onCategory)="pullCategory($event)" ></app-category-list>-->
