//@media (max-width: 1900px) {
//  #canvas{
//    min-width: 550px!important;
//  }
//}
//@media (max-width: 768px) {
//  #canvas{
//    min-width: 320px!important;
//  }
//}
#canvas{
  width: 100%;
  min-width: 320px;
}
@media (min-width: 360px) {
  #canvas{
    width: 100%;
    min-width: 360px;
  }
}

@media (min-width: 568px) {
  #canvas{
    width: 100%;
    min-width: 560px;
  }
}

@media (min-width: 768px) {
  #canvas{
    width: 100%;
    min-width: 630px;
  }
}
