<form (submit)="addPost()">
  <label>
    <span>Login</span>
    <input type="text" [(ngModel)]="manager.login" name="login">
  </label>
  <br>
  <label>
    <span>First Name</span>
    <input type="text" [(ngModel)]="manager.firstName" name="firstName">
  </label>
  <br>
  <label>
    <span>Last Name</span>
    <input type="text" [(ngModel)]="manager.lastName" name="lastName">
  </label>
  <br>
  <label>
    <span>Password</span>
    <input type="text" [(ngModel)]="manager.pass" name="title">
  </label>
  <br>
  <button type="submit">Create</button>
</form>
