<div class="infoedit">
    <h2>My account</h2>
    <div class="infoedit__box">
        <form action="" class="">
            <div class="infoedit__headline">
                <div class="name">General</div>
                <span class="edit">edit</span>
            </div>
            <label for="name">
                                <span class="title">
                                    First Name
                                </span>
                <input type="text" value="Tymofii" id="name" disabled>
            </label>
            <label for="lastname">
                                <span class="title">
                                    Name
                                </span>
                <input type="text" value="Yuzefovych" id="lastname" disabled>
            </label>
            <label for="phone">
                                <span class="title">
                                    Phone number
                                </span>
                <input type="text" value="0982284853" id="phone" disabled>
            </label>
            <label for="email">
                                <span class="title">
                                    Phone number
                                </span>
                <input type="text" value="tymofii.yuzeovych@gmail.com" id="email" disabled>
            </label>
            <input type="submit" class="save" value="Save">
        </form>
        <form action="" class="">
            <div class="infoedit__headline">
                <div class="name">Adress 1</div>
                <span class="edit">edit</span>
            </div>
            <label for="name">
                                <span class="title">
                                    Country
                                </span>
                <input type="text" value="" placeholder="Country" id="" disabled>
            </label>
            <label for="lastname">
                                <span class="title">
                                    City, code
                                </span>
                <input type="text" value="" placeholder="City, code" id="" disabled>
            </label>
            <label for="phone">
                                <span class="title">
                                    Adress1
                                </span>
                <input type="text" value="" placeholder="Adress1" id="" disabled>
            </label>
            <label for="email">
                <span class="title">
                    Adress2
                </span>
                <input type="text" value="" placeholder="Adress2" id="" disabled>
            </label>
            <input type="submit" class="save" value="Save">
        </form>
    </div>
</div>
