<div class="infoedit">
    <h2>My account</h2>
    <div class="infoedit__box">
        <div class="infoedit__headline">
            <div class="name">General</div>
            <span class="edit" (click)="editUser()">edit</span>
        </div>
        <div class="information" *ngIf="!useredit">
            <span>{{initDataProfile.firstName}}</span>
            <span>{{initDataProfile.lastName}}</span>
            <span>{{initDataProfile.mobile}}</span>
            <span>{{initDataProfile.email}}</span>
        </div>
        <form action="" (submit)="userSubmit()" class="active" *ngIf="useredit" (keyup)="formCheck()">
            <label>
                <span class="title">
                    First Name
                </span>
                <input type="text" value="{{authAccount.firstName}}" name="firstName" [(ngModel)]="authAccount.firstName">
            </label>
            <label>
                <span class="title">
                    Name
                </span>
                <input type="text" value="{{authAccount.lastName}}" name="lastName" [(ngModel)]="authAccount.lastName">
            </label>
            <label>
                <span class="title">
                    Phone number
                </span>
                <input type="text" value="{{authAccount.mobile}}" name="mobile" [(ngModel)]="authAccount.mobile">
            </label>
            <label>
                <span class="title">
                    Email
                </span>
                <input type="text" value="{{authAccount.email}}" name="email" [(ngModel)]="authAccount.email">
            </label>
            <input type="submit" class="save" value="Save" *ngIf="isBlok">
        </form>

        <div class="infoedit__headline">
            <div class="name">Adress</div>
            <span class="edit" (click)="editAddress()">edit</span>
        </div>
        <div class="information" *ngIf="!addressedit">
            <span>{{initDataProfile.country}}</span>
            <span>{{initDataProfile.city}}</span>
            <span>{{initDataProfile.address1}}</span>
            <span>{{initDataProfile.address2}}</span>
        </div>
        <form action="" (ngSubmit)="addressSubmit()" class="active" *ngIf="addressedit">
            <label>
                <span class="title">
                    Country
                </span>
                <input type="text" value="{{authAccount.country}}" name="" placeholder="Country" >
            </label>
            <label>
                <span class="title">
                    City
                </span>
                <input type="text" value="{{authAccount.city}}" name="city" placeholder="City, code">
            </label>
            <label>
                <span class="title">
                    Address1
                </span>
                <input type="text" value="{{authAccount.address1}}" name="address1" placeholder="Address1">
            </label>
            <label>
                <span class="title">
                    Address2
                </span>
                <input type="text" value="{{authAccount.address2}}" placeholder="Address2">
            </label>
            <input type="submit" class="save" value="Save">
        </form>
    </div>
</div>
