<div class="order-step">
    <div class="order-container">
        <div class="order-box">
            <div class="order-step__box boxleft">
                <div class="order-step__box-adress">
                    <div class="order-step__box-headline">
                        <div class="title">
                            Address
                        </div>
                    </div>
                    <form action="">
                        <label>
                            <span>Address 1</span>
                            <input type="text" name="address1" [(ngModel)]="me.address1">
                        </label>

                        <label>
                            <span>Address 2</span>
                            <input type="text" name="address2" [(ngModel)]="me.address2">
                        </label>
                        <label for="instructions">
                            <span>Delivery Instructions</span>
                            <textarea type="text" name="instructions" id="instructions" [(ngModel)]="instruction"></textarea>
                        </label>
                    </form>
                </div>
                <div class="order-step__box-time">
                    <div class="order-step__box-headline">
                        <div class="title">
                            Time
                        </div>
                    </div>
                    <div class="order-step__box-contain-time">
                        <div class="item-date collection">
                            <mat-form-field>
                                <input matInput [matDatepicker]="dp1" [min]="minDate" placeholder="Input disabled" disabled>
                                <mat-datepicker-toggle matSuffix [for]="dp1"></mat-datepicker-toggle>
                                <mat-datepicker #dp1 disabled="false"></mat-datepicker>
                            </mat-form-field>
                        </div>
                        <div class="item-date delivery">
                            <mat-form-field>
                                <input matInput [matDatepicker]="dp2" [min]="minDate" placeholder="Input disabled" disabled>
                                <mat-datepicker-toggle matSuffix [for]="dp2"></mat-datepicker-toggle>
                                <mat-datepicker #dp2 disabled="false"></mat-datepicker>
                            </mat-form-field>
                        </div>
                    </div>
                </div>
            </div>
            <div class="order-step__box boxright">
                <ng-container *ngIf="basketArray">
                    <ng-container *ngFor="let item of basketArray; let index = index">
                        <div class="order-step__box-item">
                            <div class="order-step__box-headline">
                                <div class="title">items</div>
                                <div class="cleaner-logo">
<!--                                    {{item.cleanerOwner.name}}-->
                                </div>
                            </div>
                            <div class="paragraph">
                                It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout.
                            </div>
                            <div class="elements">
                                <ng-container *ngFor="let prod of item.products">
                                    <div class="elements__item">
                                        <app-img [img]="prod.images"></app-img>
                                        <div class="count">{{prod.count}}x</div>
                                        <div class="title">{{prod.name}}</div>
                                        <div class="price">{{prod.price * prod.count}}$</div>
                                        <img src="../assets/images/cancel.svg" (click)="removeProd(prod._id, index)" class="cancel" alt="">
                                    </div>
                                </ng-container>
                            </div>
                            <form action="">
                                <label for="">
                                    <textarea name="" placeholder="Clearning instructions (optional)"></textarea>
                                </label>
                            </form>
                        </div>
                    </ng-container>
<!--                <div class="order-add-btn">-->
<!--                    <a [routerLink]="'/orders'" class="order-add">+ add</a>-->
<!--                </div>-->
                </ng-container>
            </div>
        </div>
    </div>
</div>
