<div class="order-step">
    <div class="order-container">
        <div class="order-box">
            <div class="order-step__box boxleft">
                <div class="order-step__box-adress">
                    <div class="order-step__box-headline">
                        <div class="title">
                            Address
                        </div>
                    </div>
                    <form action="">
                        <label>
                            <span>City</span>
                            <input type="text" style="pointer-events: none" name="cityCode" [(ngModel)]="me.city" (keyup)="auth.bascketOrder(order)">
                        </label>
                        <label>
                            <span>Address 1</span>
                            <input type="text" name="address1" [(ngModel)]="me.address1" (keyup)="auth.bascketOrder(order)">
                        </label>
<!--                        <label>-->
<!--                            <span>Address 2</span>-->
<!--                            <input type="text" name="address2" [(ngModel)]="me.address2" (keyup)="auth.bascketOrder(order)">-->
<!--                        </label>-->
                        <label for="instructions">
                            <span>Delivery Instructions</span>
                            <textarea name="instructions" id="instructions" placeholder="Delivery instructions (optional)" [(ngModel)]="me.deliveryInstruciton" (keyup)="auth.bascketOrder(order)"></textarea>
                        </label>
                    </form>
                </div>
                <div class="order-step__box-time">
                    <div class="order-step__box-headline">
                        <div class="title">
                            Time
                        </div>
                    </div>
                    <div class="order-step__box-contain-time">
                        <div class="item-date collection">
                            <div class="headline-date">
                                Collection Time
                            </div>
                            <mat-form-field>
                                <input matInput [matDatepicker]="dp1" [(ngModel)]="me.dataCollection" [min]="minDate" (dateChange)="EndDateColectionChange($event)" readonly>
                                <mat-datepicker-toggle matSuffix [for]="dp1"></mat-datepicker-toggle>
                                <mat-datepicker #dp1 disabled="false"></mat-datepicker>
                            </mat-form-field>
                            <div class="time-box">
                                <div class="time-item">
                                    <input class="time-input" placeholder="00:00" aria-label="24hr format" [(ngModel)]="me.collectionTime1" (dataChange)="auth.bascketOrder(order)" [ngxTimepicker]="fullTime" [format]="24">
                                    <ngx-material-timepicker #fullTime></ngx-material-timepicker>
                                </div> -
                                <div class="time-item">
                                    <input class="time-input" placeholder="00:00" aria-label="24hr format" [(ngModel)]="me.collectionTime2" (dataChange)="auth.bascketOrder(order)" [ngxTimepicker]="fullTime1" [format]="24">
                                    <ngx-material-timepicker #fullTime1></ngx-material-timepicker>
                                </div>
                            </div>
                        </div>
                        <div class="item-date delivery">
                            <div class="headline-date">
                                Delivery Time
                            </div>
                            <mat-form-field>
                                <input matInput [matDatepicker]="dp2" [(ngModel)]="me.dataDelivery" (dataChange)="auth.bascketOrder(order)" [min]="minDateDelivery" disabled>
                                <mat-datepicker-toggle matSuffix [for]="dp2"></mat-datepicker-toggle>
                                <mat-datepicker #dp2 disabled="false"></mat-datepicker>
                            </mat-form-field>

                            <div class="time-box">
                                <div class="time-item">
                                    <input class="time-input" placeholder="00:00" aria-label="24hr format" [(ngModel)]="me.deliveryTime1" (dataChange)="auth.bascketOrder(order)" [ngxTimepicker]="fullTime3" [format]="24">
                                    <ngx-material-timepicker #fullTime3></ngx-material-timepicker>
                                </div> -
                                <div class="time-item">
                                    <input class="time-input" placeholder="00:00" aria-label="24hr format" [(ngModel)]="me.deliveryTime2" (dataChange)="auth.bascketOrder(order)" [ngxTimepicker]="fullTime4" [format]="24">
                                    <ngx-material-timepicker #fullTime4></ngx-material-timepicker>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="order-step__box boxright">
                <ng-container *ngIf="basketArray.length === 0">
                    <div class="order-add-btn">
                        <span class="order-add" (click)="goBack()">Make order</span>
                    </div>
                </ng-container>
                <ng-container *ngIf="basketArray">
                    <ng-container *ngFor="let item of basketArray; let index = index">
                        <ng-container *ngIf="item.products.length > 0">
                            <div class="order-step__box-item">
                                <div class="order-step__box-headline">
                                    <div class="title">items</div>
                                    <div class="cleaner-logo">
                                        {{item.cleanerOwner.name}}
                                    </div>
                                </div>
                                <div class="paragraph">
                                    It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout.
                                </div>
                                <div class="elements">
                                    <ng-container *ngFor="let prod of item.products">
                                        <div class="elements__item">
                                            <app-img [img]="prod.images"></app-img>
                                            <div class="count">{{prod.count}}x</div>
                                            <div class="title">{{prod.name}}</div>
                                            <div class="price">{{prod.price * prod.count}}$</div>
                                            <img src="../assets/images/cancel.svg" (click)="removeProd(prod._id, index)" class="cancel" alt="">
                                        </div>
                                    </ng-container>
                                </div>
                                <textarea name="instruction-{{item._id}}" [(ngModel)]="me.instruction" (keyup)="auth.bascketOrder(order)" placeholder="Clearning instructions (optional)"></textarea>
                            </div>
                        </ng-container>
                    </ng-container>
                </ng-container>
            </div>
        </div>
    </div>
</div>
