<div class="order-step">
    <div class="order-container">
        <div class="order-box">
            <div class="order-step__box boxleft">
                <div class="order-step__box-adress">
                    <div class="order-step__box-headline">
                        <div class="title">
                            Address
                        </div>
                    </div>
                    <form action="">
                        <label>
                            <span>City</span>
                            <input type="text" name="city" id="city" [(ngModel)]="me.city">
                        </label>
                        <label>
                            <span>Address 1</span>
                            <input type="text" name="address1" [(ngModel)]="me.address1">
                        </label>
                        <label>
                            <span>Address 2</span>
                            <input type="text" name="address2" [(ngModel)]="me.address2">
                        </label>
                        <label for="instructions">
                            <span>Delivery Instructions</span>
                            <textarea type="text" name="instructions" id="instructions" [(ngModel)]="instruction"></textarea>
                        </label>
                    </form>
                </div>
                <div class="order-step__box-time">
                    <div class="order-step__box-headline">
                        <div class="title">
                            Time
                        </div>
                    </div>

                </div>
            </div>
            <div class="order-step__box boxright">
                <div class="order-step__box-item">
                    <div class="order-step__box-headline">
                        <div class="title">items</div>
                        <div class="cleaner-logo">
                            Name company
                        </div>
                    </div>
                    <div class="paragraph">
                        It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout.
                    </div>
                    <div class="elements">
                        <div class="elements__item">
                            <img src="../assets/images/order-item.png" alt="">
                            <div class="count">2x</div>
                            <div class="title">Jacket</div>
                            <div class="price">29 $</div>
                            <img src="../assets/images/cancel.svg" class="cancel" alt="">
                        </div>
                        <div class="elements__item">
                            <img src="../assets/images/order-item.png" alt="">
                            <div class="count">2x</div>
                            <div class="title">Jacket</div>
                            <div class="price">29 $</div>
                            <img src="../assets/images/cancel.svg" class="cancel" alt="">
                        </div>
                        <div class="elements__item">
                            <img src="../assets/images/order-item.png" alt="">
                            <div class="count">2x</div>
                            <div class="title">Jacket</div>
                            <div class="price">29 $</div>
                            <img src="../assets/images/cancel.svg" class="cancel" alt="">
                        </div>
                    </div>
                    <form action="">
                        <label for="">
                            <textarea name="" placeholder="Clearning instructions (optional)"></textarea>
                        </label>
                    </form>
                </div>
                <div class="order-add-btn">
                    <a [routerLink]="'/orders'" class="order-add">+ add</a>
                </div>
            </div>
        </div>
    </div>
</div>
