<div class="post-header" style="margin: 25px 0">
    <div class="title">
        Country
    </div>
    <a class="addnew" (click)="addCountry()">
        <img src="./assets/images/addnew-icon.svg" alt="">
        add new
    </a>
</div>
<ng-container *ngIf="addCountryIf">
    <form (submit)="save()" class="cleaner-form">
        <label>
            <span>Country</span>
            <input type="text" style="max-width: 400px" placeholder="Country" [(ngModel)]="location.country" name="country">
        </label>
        <ul>
            <li *ngFor="let city of location.city">{{city}}</li>
        </ul>
        <button class="send" *ngIf="location.country" type="submit">save</button>
    </form>
</ng-container>
<app-loading *ngIf="!loading"></app-loading>

<div class="list-countries" *ngIf="loading">
    <ng-container  *ngFor="let loc of locations; let index = index;">
        <app-addd-country [obj]="loc" [array]="location" [indexMain]="index" (removeCurrent)="changeRemove($event)"></app-addd-country>
    </ng-container>
</div>

