<form (submit)="save()">
    <input type="text" [(ngModel)]="location.country" name="country">
    <ul>
        <li *ngFor="let city of location.city">{{city}}</li>
    </ul>
    <button type="submit">save</button>
</form>
<button type="button" (click)="isAdd = true">add city</button>
<form *ngIf="isAdd" (submit)="addCity()">
    <input type="text" [(ngModel)]="city" name="city">
    <button type="submit">ok</button>
</form>

<div>
    <div *ngFor="let loc of locations">{{loc.country}} : {{loc.city}}</div>
</div>