<div class="headline headline-about">
    <div class="headline-title">
        <h3 *ngIf="post">{{post.title}}</h3>
    </div>
</div>
<app-loading *ngIf="!loading"></app-loading>

<div class="content" *ngIf="loading">
    <!--    <p>-->
    <!--        Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.-->
    <!--    </p>-->
    <div class="content__element">
        <ng-container  *ngIf="post">
            <div class="content__element-box">
                <!--            <div class="title">-->
                <!--                Aliquam erat volutpat-->
                <!--            </div>-->
                <div class="paragraph" *ngIf="post.text">
                    <app-img *ngIf="post.images.length > 0" [img]="post.images[0]"></app-img>
    
                    {{post.text}}
                </div>
            </div>
        </ng-container>
    </div>
</div>

<section class="blog" id="blog" *ngIf="loading && arrayPost && arrayPost.length > 0" >
    <h2>More interesting news</h2>
    <div class="blog__container">
        <ng-container *ngIf="arrayPost.length > 0">
            <app-blog-post  *ngFor="let item of arrayPost" [itemPost]="item"></app-blog-post>
        </ng-container>
    </div>
</section>

<app-is-app-download *ngIf="loading"></app-is-app-download>


<!--<div class="content">-->
<!--    <p>-->
<!--        Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.-->
<!--    </p>-->
<!--</div>-->

<!--<div class="content">-->
<!--    <div class="content__element content__element-reverse">-->
<!--        <img src="../assets/images/content.jpg" alt="">-->
<!--        <div class="content__element-box">-->
<!--            <div class="paragraph">-->
<!--                Phasellus ultrices nulla quis nibh. Quisque a lectus. Donec consectetuer ligula vulputate sem tristique cursus. Nam nulla quam, gravida non, commodo a, sodales sit amet, nisi.-->
<!--                Phasellus ultrices nulla quis nibh. Quisque a lectus. Donec consectetuer ligula vulputate sem tristique cursus. Nam nulla quam, gravida non, commodo a, sodales sit amet, nisi.-->
<!--                Phasellus ultrices nulla quis nibh. Quisque a lectus.-->
<!--            </div>-->
<!--        </div>-->
<!--    </div>-->
<!--</div>-->
