.notification{
  padding: 10px 15px;
  background-color: #fff;
  border-radius: 7px;
  box-shadow: 0px 1px 15px rgba(9, 26, 35, 0.18);
  margin: 23px;
  .mes{
    margin: 15px 10px;
  }
  .header-notification{
    display: flex;
    align-items: center;
    .mat-chip-list{
      margin: 0 0 0 auto;
    }
  }
  .btns{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    .send{
      margin: 0 0 0 auto;
      color: #fff;
      background: #13AAFF;
      width: max-content;
      padding: 6px 26px;
      font-size: 14px;
      border: none;
      border-radius: 5px;
      text-transform: uppercase;
      cursor: pointer;
      transition: all .2s;
      &:hover{
        background: rgba(19, 170, 255, 0.93);
      }
    }
  }
}

.money{
  background: rgba(0, 128, 0, 0.88);
  color: #fff;
}
