
<div class="headline headline-howitworks">
    <div class="headline-title">
        <h3>Become our partner</h3>
    </div>
</div>

<div class="content">
    <div class="tabs">
        <button class="tabs-btn active" data-tab="delivery">For delivery</button>
        <button class="tabs-btn" data-tab="laundry">For Laundry service</button>
    </div>
</div>


<div class="content tabcontent" id="delivery" style="display:block;">
    <p>
        Delivery ipsum dolor sit amet, consectetur adipisicing elit. Iste laborum laudantium nulla, repellendus rerum sunt tempore totam unde! Ab aperiam et exercitationem maxime mollitia nostrum, pariatur praesentium rem repellendus suscipit! At aut commodi eius maxime modi quas quisquam quod voluptas?
    </p>
    <div class="content__element content__element-reverse">
        <img src="../assets/images/content.jpg" alt="">
        <div class="content__element-box">
            <div class="title">
                Aliquam erat volutpat
            </div>
            <div class="paragraph">
                Phasellus ultrices nulla quis nibh. Quisque a lectus. Donec consectetuer ligula vulputate sem tristique cursus. Nam nulla quam, gravida non, commodo a, sodales sit amet, nisi.
                Phasellus ultrices nulla quis nibh. Quisque a lectus. Donec consectetuer ligula vulputate sem tristique cursus. Nam nulla quam, gravida non, commodo a, sodales sit amet, nisi.
                Phasellus ultrices nulla quis nibh. Quisque a lectus.
            </div>
        </div>
    </div>

    <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iste laborum laudantium nulla, repellendus rerum sunt tempore totam unde! Ab aperiam et exercitationem maxime mollitia nostrum, pariatur praesentium rem repellendus suscipit! At aut commodi eius maxime modi quas quisquam quod voluptas?
    </p>

    <div class="getintouch">
        <div class="getintouch__title">
            Become our delivery service
        </div>
        <form action="" class="getintouch__form">
            <label for="">
                <span>Name</span>
                <input type="text" required>
            </label>
            <label for="">
                <span>Username or e-mail</span>
                <input type="email" required>
            </label>
            <label for="">
                <span>Telephone</span>
                <input type="number" required>
            </label>
            <label for="">
                <span>Nature of qnquiry</span>
                <input type="text">
            </label>
            <label for="">
                <span>Message</span>
                <textarea type="text" class="message" required></textarea>
            </label>
            <input type="submit" class="send" value="send">
        </form>
    </div>
</div>


<div class="content tabcontent" id="laundry">
    <p>
        Laundry ipsum dolor sit amet, consectetur adipisicing elit. Iste laborum laudantium nulla, repellendus rerum sunt tempore totam unde! Ab aperiam et exercitationem maxime mollitia nostrum, pariatur praesentium rem repellendus suscipit! At aut commodi eius maxime modi quas quisquam quod voluptas?
    </p>
    <div class="content__element content__element-reverse">
        <img src="../assets/images/content.jpg" alt="">
        <div class="content__element-box">
            <div class="title">
                Aliquam erat volutpat
            </div>
            <div class="paragraph">
                Phasellus ultrices nulla quis nibh. Quisque a lectus. Donec consectetuer ligula vulputate sem tristique cursus. Nam nulla quam, gravida non, commodo a, sodales sit amet, nisi.
                Phasellus ultrices nulla quis nibh. Quisque a lectus. Donec consectetuer ligula vulputate sem tristique cursus. Nam nulla quam, gravida non, commodo a, sodales sit amet, nisi.
                Phasellus ultrices nulla quis nibh. Quisque a lectus.
            </div>
        </div>
    </div>

    <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iste laborum laudantium nulla, repellendus rerum sunt tempore totam unde! Ab aperiam et exercitationem maxime mollitia nostrum, pariatur praesentium rem repellendus suscipit! At aut commodi eius maxime modi quas quisquam quod voluptas?
    </p>

    <div class="getintouch">
        <div class="getintouch__title">
            Become our laundry service
        </div>
        <form action="" class="getintouch__form">
            <label for="">
                <span>Name</span>
                <input type="text" required>
            </label>
            <label for="">
                <span>Username or e-mail</span>
                <input type="email" required>
            </label>
            <label for="">
                <span>Telephone</span>
                <input type="number" required>
            </label>
            <label for="">
                <span>Nature of qnquiry</span>
                <input type="text">
            </label>
            <label for="">
                <span>Message</span>
                <textarea type="text" class="message" required></textarea>
            </label>
            <input type="submit" class="send" value="send">
        </form>
    </div>
</div>


<!--<script>-->
<!--    let tabsbtn = [... document.getElementsByClassName('tabs-btn')];-->
<!--    let tabscontent = [... document.getElementsByClassName('tabcontent')];-->

<!--    tabsbtn.forEach(function (item) {-->
<!--        item.addEventListener('click', function () {-->
<!--            tabsbtn.forEach(item => {-->
<!--                item.classList.remove('active');-->
<!--            });-->
<!--            tabscontent.forEach(item => {-->
<!--                item.style.display = 'none';-->
<!--            });-->
<!--            this.classList.add('active');-->
<!--            let data = this.dataset.tab;-->
<!--            document.getElementById(data).style.display = 'block'-->
<!--        })-->
<!--    });-->
<!--</script>-->
