<section class="getapp" *ngIf="isshow">
  <div class="getapp-container">
    <div class="left">
      <h2>Get our application</h2>
      <p class="description">
        It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout.
      </p>
      <div class="buttons">
        <a href="">
          <img src="./assets/images/googlestore.svg" alt="">
        </a>
        <a href="">
          <img src="./assets/images/appstore.svg" alt="">
        </a>
      </div>
    </div>
    <div class="right">
      <div class="img">
        <img src="./assets/images/getapp.png" alt="get our applicaton ">
      </div>
    </div>
  </div>
</section>
