<div class="post-header">
  <div class="title">
    Edit Cleaner
  </div>
</div>
<ng-container *ngIf="cleaner">
  <form (submit)="userSubmit()" class="active cleaner-form" (keyup)="formCheck()">
    <label>
      <span class="title">
          Name
      </span>
      <input type="text" name="name" [(ngModel)]="cleaner.name">
    </label>
    <app-select-location
            [defLocation]="cleaner"
            (data)="cleaner.country=$event.country;
                    cleaner.city=$event.city; formCheck()">
    </app-select-location>
    <label>
      <span class="title">
          address
      </span>
      <input type="text" name="address" [(ngModel)]="cleaner.address">
    </label>
    <input type="submit" class="send" value="Save" *ngIf="isBlok">
  </form>
</ng-container>

<app-category-list [iframe]="true" (onCategory)="pullCategory($event)" [useCategory]="cleaner.category"></app-category-list>
