<div class="post-header">
  <div class="title">
    Edit Cleaner
  </div>
</div>
<ng-container *ngIf="cleaner && loaded">
  <form (submit)="userSubmit()" class="active cleaner-form" (keyup)="formCheck()">
    <label>
      <span>Logo</span>
      <app-upload style="margin-bottom: 10px" *ngIf="!cleaner.images" (onFs)="fsData($event)" [multiple]="false"></app-upload>
    </label>
    {{cleaner.images}}
    <ng-container  class="images" *ngIf="cleaner.images">
      <app-img [img]="cleaner.images"></app-img>
      <button type="button" (click)="removeImg()" class="remove-img">remove img</button>
    </ng-container>
    <label>
      <span class="title">
          Name
      </span>
      <input type="text" name="name" [(ngModel)]="cleaner.name">
    </label>
    <app-select-location
            [defLocation]="cleaner"
            (data)="cleaner.country=$event.country;
                    cleaner.city=$event.city; formCheck()">
    </app-select-location>
    <label>
      <span class="title">
          address
      </span>
      <input type="text" name="address" [(ngModel)]="cleaner.address">
    </label>
    <input type="submit" class="send" value="Save" *ngIf="isBlok">
  </form>
</ng-container>
<app-category-list (onCategory)="pullCategory($event)" [cleanerId]="id"></app-category-list>
