<div class="post-header">
  <div class="title">
    Edit Cleaner
  </div>
</div>
<ng-container *ngIf="cleaner">
  <form (submit)="userSubmit()" class="active" (keyup)="formCheck()">
    <label>
      <span class="title">
          Name
      </span>
      <input type="text" name="name" [(ngModel)]="cleaner.name">
    </label>
    <label>
      <span class="title">
          country
      </span>
      <input type="text" name="country" [(ngModel)]="cleaner.country">
    </label>
    <label>
      <span class="title">
          city
      </span>
      <input type="text" name="city" [(ngModel)]="cleaner.city">
    </label>
    <label>
      <span class="title">
          address
      </span>
      <input type="text" name="address" [(ngModel)]="cleaner.address">
    </label>

    <input type="submit" class="save" value="Save" *ngIf="isBlok">
  </form>
</ng-container>

<app-category-list [iframe]="true" (onCategory)="pullCategory($event)" [useCategory]="cleaner.category"></app-category-list>