.post-header{
  display: flex;
  align-items: center;
  padding: 8px 0;
  border-bottom: 2px solid #13AAFF;
  max-width: 700px;
  width: 100%;
  justify-content: space-between;
  margin-bottom: 15px;
  .title{
    color: #000;
    font-family: Montserrat-Regular, sans-serif;
    font-weight:700;
    font-size: 14px;
    line-height: 21px;
    text-transform: uppercase;
  }
  .addnew{
    display: inline-flex;
    align-items: center;
    text-decoration: underline;
    cursor: pointer;
    color: #000;
    img{
      margin-right: 5px;
    }
  }
}
