<mat-vertical-stepper #stepper class="stepper"  id="stepper" [linear]="true">
  <ng-template matStepperIcon="edit">
    <mat-icon>done</mat-icon>
  </ng-template>
  <mat-step [completed]="step1Completed">
      <ng-template matStepLabel>Fill out your country</ng-template>

      <app-select-location
              (data)="countryChange($event)"></app-select-location>
      <div>
          <button mat-button matStepperNext>Next</button>
      </div>
  </mat-step>

  <mat-step [completed]="step2Completed">
      <ng-template matStepLabel>Fill out company</ng-template>

      <app-select-company *ngIf="outputObj.city && outputObj.country"
              (curentCompanyEmit)="companyChange($event)" (allCompany)="allCompany($event)"  [cityandcountry]="outputObj"></app-select-company>
      <div>
        <button mat-button matStepperPrevious>Back</button>
        <button mat-button matStepperNext>Next</button>
      </div>
  </mat-step>
</mat-vertical-stepper>
