.remove-collaborator{
  color: #fff;
  background: red;
  width: max-content;
  padding: 3px 7px;
  font-size: 12px;
  margin: 5px 0;
  border: 1px solid red;
  border-radius: 5px;
  text-transform: uppercase;
  cursor: pointer;
  transition: .3s;
  &:hover{
    background: rgba(255, 10, 5, 0.78);
    border: 1px solid rgba(255, 10, 5, 0.78);
  }
}

.edit{
  padding: 3px 7px;
  border: 1px solid;
  border-radius: 4px;
  font-size: 12px;
  margin-right: 5px;
}