<div class="post-header">
  <div class="title">
    Add Cleaners
  </div>
</div>
<form (submit)="addPost()" class="cleaner-form">
  <label>
    <span>Name</span>
    <input type="text" [(ngModel)]="cleaner.name" name="title">
  </label>
  <label>
    <span>Country</span>
    <input type="text" [(ngModel)]="cleaner.country" name="title">
  </label>
  <label>
    <span>City</span>
    <input type="text" [(ngModel)]="cleaner.city" name="title">
  </label>
  <label>
    <span>Address</span>
    <input type="text" [(ngModel)]="cleaner.address" name="title">
  </label>
  <button class="send" type="submit">Add Cleaners</button>
</form>

<app-category-list [iframe]="true" (onCategory)="pullCategory($event)" ></app-category-list>
