<div class="post-header">
  <div class="title">
    Add Cleaners
  </div>
</div>
<form class="cleaner-form">
  <label>
    <span>Logo</span>
    <app-upload style="margin-bottom: 10px" (onFs)="fsData($event)" [multiple]="false"></app-upload>
  </label>
  <label>
    <span>Name</span>
    <input type="text" placeholder="Name" [(ngModel)]="cleaner.name" name="title">
  </label>
  <app-select-location (data)="countryChange($event)"></app-select-location>
  <label>
    <span>Address</span>
    <input type="text" placeholder="Address" [(ngModel)]="cleaner.address" name="title">
  </label>
  <button class="send" (click)="addPost()">Add Cleaners</button>
</form>
