
<div class="order-step">
    <div class="order-container">
        <div class="order-box">
            <div class="order-step__box boxleft">
                <div class="order-step__box-adress">
                    <div class="order-step__box-headline">
                        <div class="title">
                            Main
                        </div>
                    </div>
                    <form action="">
                        <label for="name">
                            <span>First Name</span>
                            <input type="text" name="name" id="name" >
                        </label>
                        <label for="lastname">
                            <span>Last Name</span>
                            <input type="text" name="lastname" id="lastname" >
                        </label>
                        <label for="phone">
                            <span>Mobile</span>
                            <input type="number" name="phone" id="phone" >
                        </label>
                        <label for="mail">
                            <span>E-mail</span>
                            <input type="email" name="mail" id="mail">
                        </label>
                        <label for="password">
                            <span>Password</span>
                            <input type="password" name="password" id="password">
                        </label>
                    </form>
                </div>
            </div>
            <div class="order-step__box boxright">
                <div class="order-step__box-payment">
                    <div class="order-step__box-headline">
                        <div class="title">Payment Details</div>
                        <div class="payment-logo">
                            <img src="../assets/images/card1.svg" alt="">
                            <img src="../assets/images/card2.svg" alt="">
                            <img src="../assets/images/card3.svg" alt="">
                        </div>
                    </div>
                    <form action="">
                        <label for="card" class="card">
                            <span>Cart number</span>
                            <input type="text" placeholder="Your card number" name="card" id="card">
                        </label>
                        <label for="" class="card-detail">
                            <span>Cart number</span>
                            <input type="text" class="month" placeholder="Month" name="month" id="month">
                            <input type="text" class="year" placeholder="Year" name="year" id="year">
                            <input type="text" class="ccv" placeholder="CCV" name="ccv" id="ccv">
                        </label>
                    </form>
                    <div class="payment-description">
                        Phasellus ultrices nulla quis nibh. Quisque a lectus. Donec consectetuer ligula vulputate sem tristique cursus. Phasellus ultrices nulla quis nibh. Quisque a lectus. Donec consectetuer ligula.
                        <a href="#">Payment FAQ</a>
                    </div>
                    <div class="payment-access">
                        <div class="payment-access__item">
                            <mat-checkbox class="checkbox"></mat-checkbox>
                            <p>Phasellus ultrices nulla quis nibh. Quisque a lectus. Donec consectetuer</p>
                        </div>
                        <div class="payment-access__item">
                            <mat-checkbox class="checkbox"></mat-checkbox>
                            <p>I accept the <a href="#">Laundrapp Terms & Conditions</a></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="totalprice">
    <div class="order-container">
        <div class="totalprice__box reverse">
            <div class="totalprice__box-back">
                <a [routerLink]="'astep2'" class="back">Back</a>
            </div>
            <div class="totalprice__box-result-step3">
                Total: <span class="result">209.46</span> $
            </div>
            <div class="totalprice__box-basket">
                <a routerLink="'thanks'" class="basket">Complete Booking</a>
            </div>
        </div>
    </div>
</div>
