<div class="login-registration">
  <h2>Registration</h2>
  <p class="description">
    Hi there! Please enter your username or e-mail to managing your Store items
  </p>
  <form class="example-form">
    <mat-form-field class="signup-input" appearance="outline">
      <mat-label>First Name</mat-label>
      <input matInput placeholder="First Name" [formControl]="textFormControl"
             [errorStateMatcher]="matcher">
      <mat-error *ngIf="textFormControl.hasError('required')">
        First Name is <strong>required</strong>
      </mat-error>
    </mat-form-field>
    <mat-form-field class="signup-input" appearance="outline">
      <mat-label>Last Name</mat-label>
      <input matInput placeholder="Last Name" [formControl]="textFormControl"
             [errorStateMatcher]="matcher">
      <mat-error *ngIf="textFormControl.hasError('required')">
        Last Name is <strong>required</strong>
      </mat-error>
    </mat-form-field>
    <mat-form-field class="signup-input" appearance="outline">
      <mat-label>Phone</mat-label>
      <input matInput placeholder="Phone" [formControl]="phoneFormControl"
             [errorStateMatcher]="matcher">
      <mat-error *ngIf="phoneFormControl.hasError('required')">
        Phone is <strong>required</strong>
      </mat-error>
    </mat-form-field>
    <mat-form-field class="signup-input" appearance="outline">
      <mat-label>Email</mat-label>
      <input matInput placeholder="Email" [formControl]="emailFormControl"
             [errorStateMatcher]="matcher">
<!--      <mat-hint>Errors appear instantly!</mat-hint>-->
      <mat-error *ngIf="emailFormControl.hasError('email') && !emailFormControl.hasError('required')">
        Please enter a valid email address
      </mat-error>
      <mat-error *ngIf="emailFormControl.hasError('required')">
        Email is <strong>required</strong>
      </mat-error>
    </mat-form-field>

    <mat-form-field class="signup-input" appearance="outline">
      <mat-label>Country</mat-label>
      <input matInput placeholder="Country" [formControl]="textFormControl"
             [errorStateMatcher]="matcher">
      <mat-error *ngIf="textFormControl.hasError('required')">
         Country is <strong>required</strong>
      </mat-error>
    </mat-form-field>

    <mat-form-field class="signup-input" appearance="outline">
      <mat-label>City</mat-label>
      <input matInput placeholder="City" [formControl]="textFormControl"
             [errorStateMatcher]="matcher">
      <mat-error *ngIf="textFormControl.hasError('required')">
        City is <strong>required</strong>
      </mat-error>
    </mat-form-field>

    <mat-form-field class="signup-input" appearance="outline">
      <mat-label>Address1</mat-label>
      <input matInput placeholder="Address1" [formControl]="textFormControl"
             [errorStateMatcher]="matcher">
      <mat-error *ngIf="textFormControl.hasError('required')">
        Address1 is <strong>required</strong>
      </mat-error>
    </mat-form-field>

    <mat-form-field class="signup-input" appearance="outline">
      <mat-label>Address2</mat-label>
      <input matInput placeholder="Address2">
    </mat-form-field>


    <mat-form-field class="signup-input" appearance="outline">
      <mat-label>Password</mat-label>
      <input matInput placeholder="Password" type="password" [formControl]="passwordFormControl"
             [errorStateMatcher]="matcher">
      <mat-error *ngIf="passwordFormControl.hasError('pattern') && !passwordFormControl.hasError('required')">
        Please enter a stronger password
      </mat-error>
      <mat-error *ngIf="passwordFormControl.hasError('required')">
        Password is <strong>required</strong>
      </mat-error>
    </mat-form-field>

    <mat-form-field class="signup-input" appearance="outline">
      <mat-label>Confirm Password</mat-label>
      <input matInput placeholder="Confirm Password" type="password" [formControl]="passwordFormControl"
             [errorStateMatcher]="matcher">
      <mat-error *ngIf="passwordFormControl.hasError('required')">
        Confirm Password is <strong>required</strong>
      </mat-error>
    </mat-form-field>

        <input type="submit" id="submit" name="submit" class="submit" value="Registration">


  </form>


<!--  <form action="">-->
<!--    <label for="firstname">-->
<!--      First name-->
<!--      <input type="text" name="firstname" id="firstname" >-->
<!--    </label>-->
<!--    <label for="lastname">-->
<!--      Last name-->
<!--      <input type="text" name="lastname" id="lastname" >-->
<!--    </label>-->
<!--    <label for="phone">-->
<!--      Phone-->
<!--      <input type="number" name="phone" id="phone" >-->
<!--    </label>-->
<!--    <label for="email">-->
<!--      E-mail-->
<!--      <input type="email" name="email" id="email" >-->
<!--    </label>-->
<!--    <label for="country">-->
<!--      Country-->
<!--      <input type="text" name="country" id="country" >-->
<!--    </label>-->
<!--    <label for="city">-->
<!--      City-->
<!--      <input type="text" name="city" id="city" >-->
<!--    </label>-->
<!--    <label for="adress1">-->
<!--      Adress 1-->
<!--      <input type="text" name="adress1" id="adress1" >-->
<!--    </label>-->
<!--    <label for="adress2">-->
<!--      Adress 2-->
<!--      <input type="text" name="adress2" id="adress2" >-->
<!--    </label>-->
<!--    <label for="password">-->
<!--      Password-->
<!--      <input type="password" name="password" id="password" >-->
<!--    </label>-->
<!--    <label for="confirm-password">-->
<!--      Confirm Password-->
<!--      <input type="password" name="confirm-password" id="confirm-password" >-->
<!--    </label>-->
<!--    <input type="submit" id="submit" name="submit" class="submit" value="Registration">-->
<!--  </form>-->
</div>
