
<div class="headline headline-howitworks">
    <div class="headline-title">
        <h3>Our Partners</h3>
    </div>
</div>

<section class="features">
    <div class="features-container">
        <div class="features__item">
            <img src="./assets/images/24-hours.svg" alt="">
            <p>Open all week</p>
        </div>
        <div class="features__item">
            <img src="./assets/images/location-pin.svg" alt="">
            <p>We collect and deliver to over 100 cities</p>
        </div>
        <div class="features__item">
            <img src="./assets/images/clothes.svg" alt="">
            <p>We put a Quality Guarantee an all you items</p>
        </div>
        <div class="features__item">
            <img src="./assets/images/stars.svg" alt="">
            <p>Read our 100s of five-star reviews on Trustpilot</p>
        </div>
    </div>
</section>

<section class="about" id="about">
    <div class="about-container">
        <div class="about-box">
            <h2>About us</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Culpa maiores quod veniam. Adipisci amet beatae culpa doloribus fugiat, iusto omnis unde! Accusantium ad aspernatur autem beatae cupiditate deleniti eum eveniet explicabo facilis fugiat itaque laudantium minima molestiae, nam natus nobis omnis, quibusdam quos repellendus repudiandae sapiente soluta veniam voluptatem? Ad aperiam autem consequuntur, dignissimos labore molestias nulla perferendis quis quos.</p>
        </div>
    </div>
</section>

<div class="content">
    <div class="ourclients">
        <h2>Our Partners</h2>
        <div class="ourclients-container">
            <div class="ourclients-container__item">
                <img src="./assets/images/logo.svg" alt="">
            </div>
            <div class="ourclients-container__item">
                <img src="./assets/images/logo.svg" alt="">
            </div>
            <div class="ourclients-container__item">
                <img src="./assets/images/logo.svg" alt="">
            </div>
            <div class="ourclients-container__item">
                <img src="./assets/images/logo.svg" alt="">
            </div>
            <div class="ourclients-container__item">
                <img src="./assets/images/logo.svg" alt="">
            </div>
            <div class="ourclients-container__item">
                <img src="./assets/images/logo.svg" alt="">
            </div>
            <div class="ourclients-container__item">
                <img src="./assets/images/logo.svg" alt="">
            </div>
        </div>
    </div>
</div>

<div class="content">
    <div class="content__element content__element-reverse">
        <img src="./assets/images/content.jpg" alt="">
        <div class="content__element-box">
            <div class="title">
                Aliquam erat volutpat
            </div>
            <div class="paragraph">
                Phasellus ultrices nulla quis nibh. Quisque a lectus. Donec consectetuer ligula vulputate sem tristique cursus. Nam nulla quam, gravida non, commodo a, sodales sit amet, nisi.
                Phasellus ultrices nulla quis nibh. Quisque a lectus. Donec consectetuer ligula vulputate sem tristique cursus. Nam nulla quam, gravida non, commodo a, sodales sit amet, nisi.
                Phasellus ultrices nulla quis nibh. Quisque a lectus.
            </div>
        </div>
    </div>
</div>

<div class="content">
    <div class="ourclients">
        <h2>Our Clients</h2>
        <div class="ourclients-container">
            <div class="ourclients-container__item">
                <img src="./assets/images/logo.svg" alt="">
            </div>
            <div class="ourclients-container__item">
                <img src="./assets/images/logo.svg" alt="">
            </div>
            <div class="ourclients-container__item">
                <img src="./assets/images/logo.svg" alt="">
            </div>
            <div class="ourclients-container__item">
                <img src="./assets/images/logo.svg" alt="">
            </div>
            <div class="ourclients-container__item">
                <img src="./assets/images/logo.svg" alt="">
            </div>
            <div class="ourclients-container__item">
                <img src="./assets/images/logo.svg" alt="">
            </div>
            <div class="ourclients-container__item">
                <img src="./assets/images/logo.svg" alt="">
            </div>
            <div class="ourclients-container__item">
                <img src="./assets/images/logo.svg" alt="">
            </div>
        </div>
    </div>
</div>

<app-is-app-download></app-is-app-download>

<section class="reviews">
    <div class="reviews-container">
        <h2 class="reviews-headline">Our Reviews</h2>
        <div class="reviews-box">
            <div class="reviews-box__item">
                <div class="img">
                    <img src="./assets/images/reviews.jpg" alt="">
                </div>
                <div class="title">
                    Our Reviews
                </div>
                <div class="description">
                    It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout.
                </div>
            </div>
            <div class="reviews-box__item">
                <div class="img">
                    <img src="./assets/images/reviews.jpg" alt="">
                </div>
                <div class="title">
                    Our Reviews
                </div>
                <div class="description">
                    It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout.
                </div>
            </div>
            <div class="reviews-box__item">
                <div class="img">
                    <img src="./assets/images/reviews.jpg" alt="">
                </div>
                <div class="title">
                    Our Reviews
                </div>
                <div class="description">
                    It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout.
                </div>
            </div>
        </div>
    </div>
</section>
