<div class="writeadministrator">
    <div class="writeadministrator__box">
        <p>
            Phasellus ultrices nulla quis nibh. Quisque a lectus. Donec consectetuer ligula vulputate sem tristique cursus. Phasellus ultrices nulla quis nibh. Quisque a lectus. Donec consectetuer ligula.
        </p>
        <form action="">
            <label for="name">
                <span>Name</span>
                <input type="text" id="name">
            </label>
            <label for="email">
                <span>User name or e-mail</span>
                <input type="email" id="email">
            </label>
            <label for="tel">
                <span>Telephone</span>
                <input type="tel" id="tel">
            </label>
            <label for="nature">
                <span>Nature of inquiry</span>
                <input type="text" id="nature">
            </label>
            <label for="">
                <span>Message</span>
                <textarea name="" id="" class="message"></textarea>
            </label>
            <input type="submit" class="send" value="send">
        </form>
    </div>
</div>
