<header>
  <div class="navigation">
    <div class="navigation__logo">
      <img [routerLink]="'/'" src="../assets/images/logo.svg" alt="logo">
    </div>
    <div class="navigation__buttons">
      <nav class="account-nav">
        <a [routerLink]="'/about-us'" class="nav-item">About Us</a>
        <a [routerLink]="'/how-it-works'" class="nav-item">How it Works</a>
        <a [routerLink]="'/blogs'" class="nav-item">Blog</a>
        <a [routerLink]="'/faq'" class="nav-item">FAQ</a>
        <a [routerLink]="'/cleaners'" class="nav-item">Cleaners</a>
        <a [routerLink]="'/contacts'" class="nav-item">Contacts</a>
      </nav>
      <a href="#" class="nav-btn">Log in</a>
    </div>
    <div class="navigation__burger" id="navigation__burger">
    </div>
  </div>
</header>
