<span class="title" *ngIf="!signup">Country</span>
<div class="custom-select">
  <p class="selected" *ngIf="defLocation && location.country === 'Country'" (click)="isOpenC = !isOpenC">{{defLocation.country  || 'Country'}}</p>
  <p class="selected" *ngIf="!defLocation && location.country === 'Country'" (click)="isOpenC = !isOpenC">{{location.country  || 'Country'}}</p>
  <p class="selected" *ngIf="!defLocation && location.country !== 'Country'" (click)="isOpenC = !isOpenC">{{location.country  || 'Country'}}</p>
  <p class="selected" *ngIf="defLocation && location.country !== 'Country'" (click)="isOpenC = !isOpenC">{{location.country  || 'Country'}}</p>
  <ul *ngIf="isOpenC" class="option-wrap">
<!--    <li (click)="countryChange('location')">Country</li>-->
    <li *ngFor="let item of locations" (click)="countryChange(item)">
      {{item.country}}
    </li>
  </ul>
</div>

<span class="title" *ngIf="(!isShowCity || !location) && defLocation && defLocation.city">City</span>
<div class="custom-select" *ngIf="(!isShowCity || !location) && defLocation && defLocation.city">
  <p class="selected" (click)="isOpen = !isOpen">{{defLocation.city ? defLocation.city : locData.city || 'City'}}</p>
</div>

<span class="title" *ngIf="isShowCity && location && !signup">City</span>
<div class="custom-select" *ngIf="isShowCity && location">
  <p class="selected" (click)="isOpen = !isOpen">{{defLocation ? defLocation.city || locData.city || 'City' : locData.city || 'City'}}</p>
<!--  <p class="selected" (click)="isOpen = !isOpen">{{defLocation ? defLocation.city : 'City'}}</p>-->
  <ul *ngIf="isOpen" class="option-wrap">
    <li *ngFor="let item of location.city" (click)="cityChange(item)">
      {{item}}
    </li>
  </ul>
</div>
<div class="glass" *ngIf="isOpenC || isOpen" (click)="isOpen= false; isOpenC=false"></div>
