<ng-container *ngIf="!hidden">
<div class="order-container">
  <div class="totalprice__box">
    <div class="totalprice__box-result">
      Total: <span class="result">{{mainTotalPrice || 0}}</span> $
    </div>
    <div class="buttons">
      <div class="basket">
        <span (click)="decrementStep()" *ngIf="step>1">Back</span>
        <ng-container *ngIf="order && step==2 && isValidOrder; else next">
          <a (click)="doConfirm()">{{btns[step]}}</a>
        </ng-container>
      </div>
    </div>
  </div>
</div>

<ng-template #next>
  <ng-container *ngIf="step != 2">
    <a (click)="incrementStep()">{{btns[step]}}</a>
  </ng-container>
</ng-template>
</ng-container>