<div class="salebonus">
    <h2>Sale and Bonus</h2>
    <div class="salebonus__box">
        <div class="bonus-item">
            <img src="./assets/images/content.jpg" alt="">
            <p>
                Phasellus ultrices nulla quis nibh. Quisque a lectus. Donec consectetuer ligula vulputate sem tristique cursus. Phasellus ultrices nulla quis nibh. Quisque a lectus. Donec consectetuer ligula.
            </p>
        </div>
        <div class="bonus-item">
            <img src="./assets/images/content.jpg" alt="">
            <p>
                Phasellus ultrices nulla quis nibh. Quisque a lectus. Donec consectetuer ligula vulputate sem tristique cursus. Phasellus ultrices nulla quis nibh. Quisque a lectus. Donec consectetuer ligula.
            </p>
        </div>
        <div class="bonus-item">
            <img src="./assets/images/content.jpg" alt="">
            <p>
                Phasellus ultrices nulla quis nibh. Quisque a lectus. Donec consectetuer ligula vulputate sem tristique cursus. Phasellus ultrices nulla quis nibh. Quisque a lectus. Donec consectetuer ligula.
            </p>
        </div>
    </div>
</div>
