<form action="" class="getintouch__form">
    <label for="">
        <span>Name</span>
        <input type="text" required>
    </label>
    <label for="">
        <span>Username or e-mail</span>
        <input type="email" required>
    </label>
    <label for="">
        <span>Telephone</span>
        <input type="number" required>
    </label>
    <label for="">
        <span>Nature of qnquiry</span>
        <input type="text">
    </label>
    <label for="">
        <span>Message</span>
        <textarea  class="message" required></textarea>
    </label>
    <input type="submit" class="send" value="send">
</form>
