<div class="headline headline-howitworks">
    <div class="headline-title">
        <h3>Blogs</h3>
    </div>
</div>

<section class="blog" id="blog">
    <div class="blog__container" data-jplist-group="blogs">
        <a [routerLink]="'/blog/'+id" class="blog__container-item">
            <div class="img">
                <img src="../assets/images/blog.jpeg" alt="">
            </div>
            <div class="title">Something</div>
            <div class="date">01/05/19</div>
            <div class="description">
                It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout.
            </div>
        </a>
        <a [routerLink]="'/blog/'+id" class="blog__container-item">
            <div class="img">
                <img src="../assets/images/blog.jpeg" alt="">
            </div>
            <div class="title">Something</div>
            <div class="date">01/05/19</div>
            <div class="description">
                It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout.
            </div>
        </a>
        <a [routerLink]="'/blog/'+id"  class="blog__container-item">
            <div class="img">
                <img src="../assets/images/blog.jpeg" alt="">
            </div>
            <div class="title">Something</div>
            <div class="date">01/05/19</div>
            <div class="description">
                It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout.
            </div>
        </a>
        <a [routerLink]="'/blog/'+id"  class="blog__container-item">
            <div class="img">
                <img src="../assets/images/blog.jpeg" alt="">
            </div>
            <div class="title">Something</div>
            <div class="date">01/05/19</div>
            <div class="description">
                It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout.
            </div>
        </a>
    </div>

    <div class="more">
        <div class="more-btn">
            <img src="../assets/images/more.svg" alt="">
            <div class="text">
                More
            </div>
        </div>
    </div>
</section>
