<div class="headline headline-howitworks">
    <div class="headline-title">
        <h3>Blogs</h3>
    </div>
</div>

<section class="blog" id="blog">
    <ng-container *ngIf="allBlogs.length === 0 || !allBlogs">
        <div class="blog__container">
            <p class="sorry">
                Right now we don't have any blogs
            </p>
        </div>
    </ng-container>
    <ng-container *ngIf="allBlogs.length > 0">
        <div class="blog__container" data-jplist-group="blogs">
            <ng-container  *ngFor="let item of allBlogs">
                <app-blog-post [itemPost]="item"></app-blog-post>
            </ng-container>
        </div>
    </ng-container>

    <div class="more" *ngIf="allBlogs.length > 8">
        <div class="more-btn">
            <img src="../assets/images/more.svg" alt="">
            <div class="text">
                More
            </div>
        </div>
    </div>
</section>
