<div class="order-list">
    <div class="order-list-container">
        <div class="order-list__box">
            <ng-container *ngFor="let item of chooseCompany.category">
                <a routerLinkActive="active" [routerLink]="['/orders/'+ item.name | lowercase ]" class="order-list__box-item">
                    <app-img [img]="item.icon"></app-img>
                    <span class="title">
                    {{item.name}}
                </span>
                </a>
            </ng-container>
        </div>
    </div>
</div>

<div class="cleaner">
    <div class="order-container">
        <div class="cleaner__box">
            <span class="name">Cleaner name</span>
            <app-select-company [allCleaner]="allCompany"
                                [curentCompany]="chooseCompany"
                                (curentCompanyEmit)="companyChange($event)" ></app-select-company>
        </div>
    </div>
</div>

<div class="order">
    <div class="order-container">
        <div class="order__box">
            <ng-container  *ngFor="let item of product">
                <app-order-item class="order__box-item" [obj]="item"
                                (onDelete)="orderItemRemove($event)"
                                (onAdd)="orderItemAdd($event)"></app-order-item>
            </ng-container>
        </div>
    </div>
</div>

