/*mat-form-field{*/
/*    border: 1px solid #13AAFF;*/
/*    border-radius:20px;*/
/*    padding: 0 20px;*/
/*    max-width: 260px;*/
/*}*/

/*.mat-form-field-wrapper{*/
/*    padding: 0;*/
/*}*/

/*.mat-form-field-infix{*/
/*    border: none;*/
/*}*/
/*.mat-form-field-appearance-legacy .mat-form-field-underline{*/
/*    background-color: transparent!important;*/
/*}*/
/*.mat-form-field-appearance-legacy .mat-form-field-underline{*/
/*    height: 0!important;*/
/*}*/
.order-list__box-item{
    background: #13AAFF;
    font-family: Montserrat-Bold, sans-serif;
    color: #333333;
    border:none;
    cursor: pointer;
    transition: all .3s;
}
.order-list__box-item:hover{
    background: #fff;
}
.order-list__box-item .active {
    background: #fff;
}
