<div class="order-list">
    <div class="order-list-container">
        <div class="order-list__box">
            <ng-container *ngFor="let item of category">
                <a routerLinkActive="active" [routerLink]="['/orders/'+ item.name | lowercase ]" class="order-list__box-item">
                    <app-img [img]="item.icon"></app-img>
                    <span class="title">
                    {{item.name}}
                </span>
                </a>
            </ng-container>
        </div>
    </div>
</div>

<div class="cleaner">
    <div class="order-container">
        <div class="cleaner__box">
            <span class="name">Cleaner name</span>
            <mat-form-field>
                <mat-select [(value)]="selected">
                    <mat-option value="company1">Name company 1</mat-option>
                    <mat-option value="company2">Name company 2</mat-option>
                    <mat-option value="company3">Name company 3</mat-option>
                </mat-select>
            </mat-form-field>
        </div>
    </div>
</div>

<div class="order">
    <div class="order-container">
        <div class="order__box">
            <app-order-item class="order__box-item" [price]="2"></app-order-item>
            <app-order-item class="order__box-item" [price]="5"></app-order-item>
            <app-order-item class="order__box-item" [price]="3"></app-order-item>
            <app-order-item class="order__box-item" [price]="10"></app-order-item>
        </div>
    </div>
</div>

