<div class="admin-header">
  <div class="current-page">
    Admin panel
  </div>
  <div class="header-info">
    <div class="notification" [matMenuTriggerFor]="menu">
      <img src="../assets/images/bell.svg" alt="">
      <span class="notification-circle"></span>
      <mat-menu #menu="matMenu" xPosition="before">
        <ng-container *ngFor="let notification of notificationsNames">
          <app-notification-label
                  [entity]="notification"
                  [count]="notifications[notification].count"
                  [name]="notifications[notification].name">
          </app-notification-label>
        </ng-container>
      </mat-menu>
    </div>
    <div class="admin-name">
      Admin
    </div>
    <div class="logout" (click)="logout()">
      <img src="../assets/images/logout.svg" alt="">
    </div>
  </div>
</div>
