<a [routerLink]="'/profile'" class="navigation-page__item" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
  My orders
</a>
<a [routerLink]="'/profile/account'" class="navigation-page__item" routerLinkActive="active">
  My account
</a>
<a [routerLink]="'/profile/payment'" class="navigation-page__item" routerLinkActive="active">
  Payment system
</a>
<a [routerLink]="'/profile/bonuses'" class="navigation-page__item" routerLinkActive="active">
  Bonuses and sales
</a>
<a [routerLink]="'/profile/write-to-admin'" class="writeadmin">
  Write administration
</a>
