<ng-container *ngIf="obj.productId">
  <div class="img">
    <app-img [img]="obj.images"></app-img>
  </div>
  <div class="description">
    <div class="name">{{obj.name}}</div>
    <p class="describe">{{obj.description}}</p>
  </div>
  <div class="buttons">
    <div class="counts">
      <div class="counts__btn">
        <img src="./assets/images/minus.svg" (click)="decrementProduct()" alt="">
      </div>
      <div class="count">{{obj.count}}</div>
      <div class="counts__btn">
        <img src="./assets/images/plus.svg" (click)="incrementProduct()" alt="">
      </div>
    </div>
    <div class="price">
      <div class="price__item">{{obj.totalPrice | number:'0.2-2'}}</div>
      <div class="price__usd">$</div>
    </div>
  </div>
</ng-container>

<ng-container *ngIf="!obj.productId">
  <div class="img">
    <app-img [img]="obj.images"></app-img>
  </div>
  <div class="description">
    <div class="name">{{obj.name}}</div>
    <p class="describe">{{obj.description}}</p>
  </div>
  <div class="buttons">
    <div class="counts">
      <div class="counts__btn">
        <img src="./assets/images/minus.svg" (click)="decrement()" alt="">
      </div>
      <div class="count">{{obj.count}}</div>
      <div class="counts__btn">
        <img src="./assets/images/plus.svg" (click)="increment()" alt="">
      </div>
    </div>
    <div class="price">
      <div class="price__item">{{obj.totalPrice | number:'0.2-2'}}</div>
      <div class="price__usd">$</div>
    </div>
  </div>
</ng-container>
