<div *ngIf="faq">
  <form class="cart-item">
    <div >
      <h3 class="title">Question</h3>
      <textarea class="text" name="question" [(ngModel)]="faq.question"></textarea>
    </div>
    <div>
      <h3 class="title">Answer</h3>
       <textarea class="text" name="answer" [(ngModel)]="faq.answer"></textarea>
    </div>
    <div class="btn-wrap"><button (click)="save($event)">Save</button></div>
  </form>
</div>
<div *ngFor="let f of faqs; let index = index">
  <div *ngIf="f" class="cart-item mat-cell">
    <div class="btn-panel">
      <button class="delete-link" (click)="delete(f, index)">delete</button>
    </div>
    <h3 class="title">Question</h3>
    <p class="text">{{f.question}}</p>
    <h3 class="title">Answer</h3>
    <p class="text">{{f.answer}}</p>
  </div>
</div>
