<div class="order-class">
    <app-app-header></app-app-header>
    <!--<router-outlet></router-outlet>-->
<!--    <ng-container *ngIf="step==0">-->
<!--        <app-new-orders-step-sero (sendChooseCompany)="getChooseCompany($event)"-->
<!--                                  (sendAllCompany)="getAllCompany($event)"-->
<!--                                  (stepOutput)="step = $event"></app-new-orders-step-sero>-->
<!--    </ng-container>-->
    <ng-container *ngIf="step == 1 && (!chooseCompany || !allCompany)">
        <h3 class="empty-alert">We don't work in your country or city</h3>
    </ng-container>
    <ng-container *ngIf="step == 1 && chooseCompany && allCompany">
        <app-new-orders-step-one [chooseCompany]="chooseCompany" [allCompany]="allCompany"
                                 (outputArray)="outputArray($event)">
        </app-new-orders-step-one>
    </ng-container>
    <ng-container *ngIf="step==2">
        <app-new-orders-step-two (stepOutput2)="step = $event"></app-new-orders-step-two>
    </ng-container>
    <ng-container *ngIf="step==3">
        <app-thanks (stepOutput3)="step = $event"></app-thanks>
<!-- <app-new-orders-step-three></app-new-orders-step-three>-->
    </ng-container>
    <!--<ng-container *ngIf="step==-->
    <app-order-footer *ngIf="step > 0 && step < 3"
                      [(step)]="step"
                      [hidden]="step == 1 && (!chooseCompany || !allCompany)"
                      class="totalprice">
    </app-order-footer>
</div>
