<mat-accordion class="mat-accordions">
  <div class="buttons">
    <button class="add" (click)="addCityF()">Add City</button>
    <button class="delete" (click)="deleteAll()">Delete</button>
  </div>
  <mat-expansion-panel *ngIf="obj" (opened)="panelOpenState = true" (closed)="panelOpenState = false" [expanded]="panelOpenState">
    <mat-expansion-panel-header>
      <mat-panel-title>
        {{obj.country}}
      </mat-panel-title>
    </mat-expansion-panel-header>
      <mat-chip-list aria-label="city" class="block-chip">
        <mat-chip class="chip" *ngFor="let item of obj.city; let index = index;">{{item}}
          <mat-icon matChipRemove class="remove" (click)="remove(index)">cancel</mat-icon>
        </mat-chip>
      </mat-chip-list>
    <div class="add" *ngIf="addCity">
      <input type="text" [(ngModel)]="newCity">
      <button (click)="addCityB()">Add city</button>
    </div>
  </mat-expansion-panel>
</mat-accordion>
