.buttons{
  display: flex;
  justify-content: flex-end;
  position: absolute;
  z-index: 400123123!important;
  right: 50px;
  top: 24px;
  button{
    &.add, &.delete{
      color: #333;
      background: #fff;
      width: max-content;
      padding: 6px 26px;
      font-size: 14px;
      margin: 5px 0;
      border: 1px solid #e0e0e0;
      border-radius: 5px;
      text-transform: uppercase;
      cursor: pointer;
      transition: all .2s;
      &:hover{
        background: #e0e0e0;
      }
    }
    &.delete{
      background: red;
      color: #fff;
      margin-left: 20px;
      &:hover{
        background: rgba(255, 0, 0, 0.86);
      }
    }
  }
}
.block-chip{
  display: flex;
  align-items: center;
  .chip{
    width: max-content;
  }
}
.add{
  margin: 6px 0 0;
  input{
    padding: 6px 10px;
    font-size: 14px;
    border-radius: 25px;
    margin: 5px 10px 5px 0;
    border:1px solid #c0c0c0;
  }
  button {
    color: #333;
    background: #fff;
    width: max-content;
    padding: 6px 26px;
    font-size: 14px;
    margin: 5px 0;
    border: 1px solid #e0e0e0;
    border-radius: 26px;
    text-transform: uppercase;
    cursor: pointer;
    transition: all .2s;
    &:hover {
      background: #e0e0e0;
    }
  }
}

.mat-expansion-panel-spacing{
  margin: 0;
}

