<nav>
  <a [routerLink]="'/admin'" class="logo">
    <img src="../assets/images/logo.svg" alt="">
  </a>
  <ul>
    <li><a routerLinkActive="active" [routerLink]="'/admin/dashboard'" ><span class="icon"></span>dashboard</a></li>
    <li><a routerLinkActive="active" [routerLink]="'/admin/posts'">posts</a></li>
    <li><a routerLinkActive="active" [routerLink]="'/admin/category'">category</a></li>
    <li><a routerLinkActive="active" [routerLink]="'/admin/cleaners'">cleaner</a></li>
    <li><a routerLinkActive="active" [routerLink]="'/admin/delivery'">delivery</a></li>
    <li><a routerLinkActive="active" [routerLink]="'/admin/setting'">setting</a></li>
  </ul>
</nav>
