<div class="post-header">
  <div class="title">
    Edit Post
  </div>
</div>
<form action="" class="active cleaner-form" (keyup)="formCheck()">
  <label>
    <span class="title">
        Title
    </span>
    <input type="text" name="title" [(ngModel)]="initDataPost.title">
  </label>
  <label>
    <span class="title">
        Description
    </span>
    <textarea name="text" [(ngModel)]="initDataPost.text"></textarea>
  </label>

  <app-upload style="margin-bottom: 10px" *ngIf="initDataPost.images.length === 0" (onFs)="fsData($event)" [multiple]="true"></app-upload>

  <ng-container  class="images" *ngIf="initDataPost.images.length > 0">
    <app-img [img]="initDataPost.images[0]"></app-img>
    <button (click)="removeImg()" class="remove-img">remove img</button>
  </ng-container>

  <input type="submit" class="send" (click)="userSubmit()" value="Save" *ngIf="isBlok">
</form>
