app-img{
  width: 250px!important;
  height: 250px!important;
}
.remove-img{
  width: 150px;
  background: red;
  color: #fff;
  border-radius: 20px;
  margin: 10px 0;
  padding: 5px;
  cursor: pointer;
}
