mat-expansion-panel{
  margin-bottom: 25px;
}
.mat-accordion>.mat-expansion-panel-spacing:last-child, .mat-accordion>:last-child:not(.mat-expansion-panel) .mat-expansion-panel-spacing{
  margin-bottom: 25px!important;
}
.mat-expansion-panel-header-description{
  justify-content: space-between;
  width: 100%;
}
