<mat-accordion>
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        <div class="status" [innerHTML]="obj.status | status | safeHTML"></div>
      </mat-panel-title>
      <mat-panel-description>
        <div class="date" *ngIf="obj.dpc && obj.dpd">
            <span class="from">
              {{obj.dpc | date: 'd.MM.yy'}}
            </span>
          -
          <span class="to">
              {{obj.dpd | date: 'd.MM.yy'}}
          </span>
        </div>
      </mat-panel-description>
    </mat-expansion-panel-header>
    <div class="orders-box">
      <div class="order__item">
        <div class="order__body">
          <div class="items__box">
              <div class="item">
                <div class="item__headline">
                  <div class="title">
                    Items
                  </div>
                  <div class="company">
                    <span class="name">{{obj.cleanerOwner.name}}</span>
                  </div>
                </div>
                <div class="item__element" *ngFor="let prod of obj.products">
                  <app-img [img]="prod.images"></app-img>
                  <div class="count">{{prod.count}}x</div>
                  <div class="name">{{prod.name}}</div>
                  <div class="price">{{prod.price}}$</div>
                </div>
              </div>
              <div class="item info-item" *ngIf="role !== 'client'">
                <div class="item__headline">
                  <div class="title">
                    Information
                  </div>
                </div>
                <div class="info-block">
                  <div *ngIf="obj.mobile">
                    Tel: {{obj.mobile}}
                  </div>
                  <div *ngIf="obj.email">
                    email: {{obj.email}}
                  </div>
                  <div *ngIf="obj.instruction && role === 'managerCleaner' || role === 'superManagerCleaner'">
                    Instruction: {{obj.instruction}}
                  </div>
                  <div *ngIf="obj.instruction && role === 'managerDelivery' || role === 'superManagerDelivery'">
                    Instruction: {{obj.deliveryInstruciton}}
                  </div>
                </div>
              </div>
            <div class="total__price">
              {{obj.totalPrice}}$
            </div>
          </div>
          <div class="time">
            <div class="time__headline">
              Times
            </div>
            <div class="time__box">
              <div class="time__element">
                <div class="status active"></div>
                <div class="date">
                  {{obj.dpc | date: 'EEEE, MMMM d'}}
                </div>
                <div class="times" *ngIf="obj.dataColection">
                  <div class="from">22:00</div>
                  -
                  <div class="to">22:00</div>
                </div>
                <div class="address">
                    {{obj.address1}}
                </div>
              </div>
              <div class="time__element">
                <div class="status waiting"></div>
                <div class="date">
                  {{obj.dpd | date: 'EEEE, MMMM d'}}
                </div>
                <div class="times" *ngIf="obj.dataDelivery">
                  <div class="from">22:00</div>
                  -
                  <div class="to">22:00</div>
                </div>
                <div class="address">
                  {{obj.address1 !== obj.address2 ? obj.address2 : obj.address1}}
                </div>
              </div>
            </div>
            <div class="buttons-box" *ngIf="role !== 'client' && role ">
              <button class="accept" *ngIf="obj.status === 1">Accept</button>
              <button class="cancel">Cancel</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </mat-expansion-panel>
</mat-accordion>
